doctype html
html(lang='es')
  include ../../common/head.pug
  +head("Eduardo Ayora Blog")
  body
    header
      include ../../common/navbar.pug
      +navbar()
    
    include ../../common/footer.pug
    +footer()
