doctype html
html(lang='es')
  include common/head.pug
  +head("Eduardo Ayora Web")
  body
    header
      include common/navbar.pug
      +navbar()
    section.hero
      .container.text-center
        h1 Desarrollador web full stack
        p.principal-text Sus ideas las pongo en codigo
        //- form(action="/", method="POST")
        //-   input(name="lead_email" type="email", placeholder="Ingresa tu email")
        //-   button(type="submit") Submit
    section.medium
      .container.text-center
        p.principal-text Apasionado por el desarrollo de software y comprometido con el buen trabajo
        .skills
          div.card-group.height-card
            div.card
              .img-card
                img(src="/images/frontend.svg" alt="imagen frontend").card-img-top.img-card-width
              div.card-body
                h5.card-title Frontend
                p.card-text Experiencia con html, css, javascript. Framework: bootstrap. Template: pug.
            div.card
              .img-card
                img(src="/images/node.svg" alt="imagen backend").card-img-top.img-card-width
              div.card-body
                h5.card-title Backend
                p.card-text Experiencia con node, php. Framework: express.
    include common/footer.pug
    +footer()
