header {
  /* navbar es fixed por lo tanto ponemos margin bottom aqui */
  height: 55px;
}

.container > p {
  font-size: 20px;
}

.hero {
  height: 300px;
  display: flex;
  align-items: center;
  color: #304AA0;
  font-size: 1.5em;
}

.hero p {
  font-size: inherit;
}

.hero h1 {
  font-family: "eurostile", sans-serif;
  font-weight: 800;
}

.medium {
  height: 300px;
  padding-top: 50px;
  background: #304AA0;
  color: white;
  margin-bottom: -200px;
  font-size: 1.5em;
}

.medium p {
  font-size: inherit;
}

.skills {
  margin-top: 40px;
  margin-bottom: 20px;
  min-height: 500px;
}

.card-group {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.simple-form {
  display: flex;
  align-items: center;
  min-height: 600px;
}

.img-card {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  max-width: 300px;
}

.card-body .container .col-sm-12,
.card-body .container .col-xl-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.projects {
  min-height: 300px;
}

.projects-header {
  margin-bottom: 60px;
}

.blog {
  min-height: 600px;
  display: flex;
  justify-content: center;
  font-family: 'Museo Sans W01', helvetica, arial, sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 600px;
}

.blog-container {
  padding-top: 40px;
  padding-bottom: 80px;
  overflow-x: hidden;
}

.post-container {
  min-height: 300px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
}

.post-header {
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-header a {
  font-size: 1.5em;
  font-weight: 800;
  color: #1D1B1B;
  line-height: 1.2em;
  text-align: left;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}
h1 a:hover {
  color: #00ADF2;
}

/* Por debajo de 700px */
@media screen and (max-width: 700px){
  .post-header a {
    font-size: 0.9em;
  }
}

.meta {
  float: right;
  display: inline-block;
  margin: auto 40px;
  color: #667;
}

.post-body {
  min-height: 100px;
  max-height: 100px;
  overflow-y: hidden;
}

.post-body p {
  font-family: 'open sans', helvetica, sans-serif;
  color: #667;
  font-size: 1.1em;
  line-height: 1.8em;
}

.view-post {
  min-height: 600px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.view-post-body {
  margin-top: 50px;
  font-family: 'open sans', helvetica, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 1.1em;
  line-height: 1.8em;
}

.images-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-file {
  margin-top: 10px;
  margin-bottom: 10px;
}

#portafolio h2 {
  line-height: 1.12;
  font-family: "eurostile", sans-serif;
  font-weight: 800;
}

.projects .view-post {
  margin-bottom: 20px;
}

.top-post {
  width: 100%;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  height: 80px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-bottom: 40px;
}

.bottom-post {
  width: 100%;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  height: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: 40px;
}

@media screen and (max-width: 400px){
  .top-post {
    height: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .bottom-post {
    height: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.proyect-header {
  min-height: 50px;
}

.markdown {
  width: 100%;
  display: flex;
  justify-content: center;
  /* nuevas */
  border-left-style: dotted;
  border-right-style: dotted;
}

#navbar {
  background-color: #0D256C;
  color: white;
  transition: 1s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

#navbar .container a {
  color: inherit;
}

.alter-nav {
  background-color:rgba(26,52,136,0.6) !important;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(90deg, #1A3488, #4A61AD, #1A3488);
  height: 300px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

footer a {
  margin-right: 20px;
  margin-left: 20px;
}


