body {
  font-family: Verdana, Geneva, sans-serif;
}

header {
  /* navbar es fixed por lo tanto ponemos margin bottom aqui */
  margin-bottom: 55px;
}

footer {
  color: #ffffff;
  background: #343a40;
  height: 300px;
  display: flex;
  align-items: center;
}

footer a {
  margin-right: 20px;
  margin-left: 20px;
}

.container > p {
  font-size: 20px;
}

.hero {
  height: 300px;
  display: flex;
  align-items: center;
}

.medium {
  height: 300px;
  padding-top: 50px;
  background: #dedede;
  margin-bottom: -200px;
}

.skills {
  width: 75%;
  margin: 40px auto;
  min-height: 500px;
}

.simple-form {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.img-card {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  max-width: 300px;
}

.card-body .container .col-sm-12,
.card-body .container .col-xl-4 {
  padding-left: 5px;
  padding-right: 5px;
}
