mixin footer()
  footer.page-footer
    .container.text-center
      p.blockquote Dando clic también puedes encontrarme en:
      a(href="https://github.com/EduardoAyora" target="_blank").text-light
        i.fab.fa-github.fa-lg  Github
      a(href="https://www.instagram.com/eduardoayora/" target="_blank").text-light
        i.fab.fa-instagram.fa-lg  Instagram
  script(src="/javascripts/jquery.min.js")
  script(src="/bootstrap/js/bootstrap.min.js")
  
  script.

    // --Navbar--
    const url = $(location).attr('pathname');
    const hash = $(location).attr('hash');
    if(url.includes('/blog')){
      $("#link-blog").addClass("active")
    }
    else if (hash.includes('portafolio')) {
      $("#link-portafolio").addClass("active")
    }
    else {
      $("#link-inicio").addClass("active")
    }
    
    function portafolioClick() {
      let url = $(location).attr('pathname');
      if(url.includes('/blog')){
        location.href="/#portafolio";
      }
      else {
        $("#link-portafolio").addClass("active");
        $("#link-blog").removeClass("active");
        $("#link-inicio").removeClass("active");
      }
    }
    // --!Navbar--

    // --ANIMACIONES--
    window.onscroll = function() {scrollFunction()};

    const distanceTop = (element) => {
      const rectElement = element.getBoundingClientRect();
      return rectElement.top + document.documentElement.scrollTop;
    }

    var tresCuartosScreen = window.innerHeight * 0.75;

    // --efectos--
    function navbarTransition() {
      if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        document.getElementById("navbar").classList.add("alter-nav");
      } else {
        document.getElementById("navbar").classList.remove("alter-nav");
      }
    }

    var cardGroup = document.getElementById("card-group");
    var leftCard = document.getElementById("left-card");
    var rightCard = document.getElementById("right-card");

    const skillEffect = () => {
      const cardGroupDistanceTop = distanceTop(cardGroup);
      const topLimitDistance = cardGroupDistanceTop - tresCuartosScreen;
      let bottomLimitDistance;
      if (cardGroup.clientHeight < 700) {
        bottomLimitDistance = cardGroupDistanceTop + (cardGroup.clientHeight / 2);
      }
      else {
        bottomLimitDistance = cardGroupDistanceTop + (cardGroup.clientHeight * 3 / 4);
      }
      if ((document.documentElement.scrollTop > topLimitDistance) &&
        (document.documentElement.scrollTop < bottomLimitDistance )) {
        leftCard.classList.remove("left-card-group-out");
        leftCard.classList.add("card-group-in");
        rightCard.classList.remove("right-card-group-out");
        rightCard.classList.add("card-group-in");
        cardGroup.classList.add("card-group-shadow");
      } else {
        leftCard.classList.remove("card-group-in");
        leftCard.classList.add("left-card-group-out");
        rightCard.classList.remove("card-group-in");
        rightCard.classList.add("right-card-group-out");
        cardGroup.classList.remove("card-group-shadow");
      }
    }

    var projectPosts = document.getElementsByClassName('project-post');
    
    const opacityEffect = () => {
      let i;
      for(i = 0; i < projectPosts.length; i++) {
        const projectPost = projectPosts[i];
        const projectPostDistanceTop = distanceTop(projectPost);
        const topLimitDistance = projectPostDistanceTop - tresCuartosScreen;
        const bottomLimitDistance = projectPostDistanceTop + (projectPost.clientHeight - 400);
        if ((document.documentElement.scrollTop > topLimitDistance) &&
          (document.documentElement.scrollTop < bottomLimitDistance )) {
          projectPost.classList.add("full-opacity");
        } else {
          projectPost.classList.remove("full-opacity");
        }
      }
    }

    // --!efectos--

    function scrollFunction() {
      navbarTransition();
      skillEffect();
      opacityEffect();
    }

    // --!ANIMACIONES--

    // --SOMBRA PROYECTOS--
    markdownImages = document.getElementsByClassName("markdown");
    for(var i = 0; i < markdownImages.length; i++){
      const div = document.createElement('div');
      div.classList.add("anti-shadow");
      markdownImages[i].parentNode.insertBefore(div,markdownImages[i]);
      div.appendChild(markdownImages[i]);
    }
    // --!SOMBRA PROYECTOS--
