mixin footer()

  footer.page-footer.font-small.indigo
    .container.text-center.text-md-left
      .row.justify-content-center
        .col-md-3.in-center
          h5.font-weight-bold.text-uppercase.mt-3.mb-4 Sigueme en
          button.btn.btn-primary.btn-xl.btn-circle.instagram-color
            i.fab.fa-instagram.fa-lg
          button.btn.btn-primary.btn-xl.btn-circle.youtube-color
            i.fab.fa-youtube.fa-lg
          
        
              
        
          
