mixin navbar(logoutButton)
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a(href="/").navbar-brand EduardoAyora
      button(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
      aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
        span.navbar-toggler-icon
      div(id="navbarNav").collapse.navbar-collapse.justify-content-between
        ul.navbar-nav
          li(id="link-inicio").nav-item
            a(href="/").nav-link Inicio
          li(id="link-portafolio").nav-item
            a(href="/").nav-link Portafolio
          li(id="link-blog").nav-item
            a(href="/blog").nav-link Blog
        if logoutButton
          a(href="/users/logout").nav-link Logout
