doctype html
html(lang='es')
  include ../common/head.pug
  +head("Crear Blog")
  body
    header
      include ../common/navbar.pug
      +navbar(true)
    section
      .container.mt-4.mb-4
        .row.justify-content-center
          .col-12.col-md-8
            .container.text-center
              h2 Crear nuevo blog
              form(method='POST')
                .form-group
                  label(for="title") Título del blog
                  input(type="text" id="title" name="title" placeholder="Ingresa el título del blog" required).form-control
                .form-group
                  label(for="url") Url
                  input(type="text" id="url" name="url" placeholder="Ingresa la url del blog" required).form-control
                .form-group
                  label(for="content") Contenido
                  textarea(id="content" name="content" rows="24").form-control
                button(type="submit").btn.btn-primary Confirmar
    include ../common/footer.pug
    +footer()
