doctype html
html(lang='es')
  include ../common/head.pug
  +head("Eduardo Ayora Blog")
  body
    header
      include ../common/navbar.pug
      +navbar()
    section.simple-form
      .container
        .text-center
          h2 Blog
        if errors
          p.text-danger= errors
        if success
          p.text-success= success
        ul
          each post in posts
            li= post
    include ../common/footer.pug
    +footer()
