doctype html
html(lang='es')
  include ../common/head.pug
  +head("Eduardo Ayora Blog")
  body
    header
      include ../common/navbar.pug
      +navbar()
    section.simple-form
      .container
        if errors
          p.text-danger= errors
        if success
          p.text-success= success
        .content
          each post in posts
            article
              h2
                a(href=`/blog/${post.url}`)= post.title
              p= post.description
    include ../common/footer.pug
    +footer()
