doctype html
html(lang='es')
  include ../common/head.pug
  +head("Eduardo Ayora Blog")
  body
    header
      include ../common/navbar.pug
      +navbar()
    | !{post[0].title}
    | !{post[0].content}
    include ../common/footer.pug
    +footer()
