doctype html
html(lang='es')
  include ../common/head.pug
  +head("Eduardo Ayora Blog")
  body
    header
      include ../common/navbar.pug
      +navbar()
    .container.mt-5.mb-5
      .blog
        .row.justify-content-center
          .col-12.col-lg-9
            .view-post
              .post-header
                h1
                  a(href=`/blog/${post.url}`)= post.title
              .view-post-body
                | !{post.sanitizedHtml}
    include ../common/footer.pug
    +footer()
